/* ---- Main Styles ------ */
* {
  box-sizing: border-box;
  font-family: 'Century Gothic';
  color : #353535;
}
body,html {
  padding: 0;
  margin: 0;
  
}

h2 {
  /* color : red; */
  margin: 10px;
  padding: 0;
}
p,h3,h4 {
  color :ghostwhite;
}
input[type=text],button { 
  padding: 5px;
}
input[type=text] {
  width: 25%;
}

a {
  color : white;
  text-decoration: none;
}
a:hover {
  color : #c0c0c0;
}

.container {
  margin : 0 auto;
}

/* UI */
.ui {
  padding: 10px;
  width: 100%;
  display: flex;
}
fieldset {
  border: 1px solid black;
  flex : 1;
}
fieldset > input { width: 100% }

#backend {
  user-select: none;
  color : #353535;
  margin : 5px;
  font-size : 14px
}


/* SIDECHAT */
.sidechat {
  position: fixed;
  width: auto;
  top: 0;
  left: -225px;
  height: 100vh;
  box-shadow : 5px 0px 25px 1px rgba(0,0,0,0.2);
  padding: 10px;
  background-color: #1d1d1d;
  transition: 0.3s;
  opacity: 1;
}
.sidechat > .handle {
  position: absolute;
  top: 50%;
  right: -25px;
  padding : 5px;
  padding-left : 10px;
  color : white;
  transform: translateY(-50%);
  background-color : #252525;
  cursor: pointer;
}
.sidechat i {
  color : white;
}
.sidechat > .handle:hover i {
  color : lightskyblue;
  transform: scale(1.2);
  transition: 0.3s;
}
.show-panel {
  left: 0px;
}

.msgs-panel {
  top: 15%;
  position: absolute;
  bottom: 60px;
  width: 90%;
  height: calc(inherit - 200px);
  word-wrap: break-word;
  padding: 10px;
  overflow: hidden;
}
.msgs-panel:hover {
  overflow-y: scroll;
}

.sidechat input {
  padding: 10px;
  border: 1px solid white;
  outline : none
}
.sidechat input:focus {
  outline: 2px solid deepskyblue;
}
.sidechat button {
  font-weight: bold;
  cursor: pointer;
  outline : none;
  border: none;
}
.sidechat button:hover {
  background-color : deepskyblue;
  color : white;
}

.sidechat input {
  width: 100%;
  margin-right : 2px;
}
.chat-panel {
  display: flex;
  position: absolute;
  width: 90%;
  bottom: 15px;
  left: 5%;
}

/* FOOTER */
footer {
  display: flex;
  margin: 0;
  width: 100%;
  background-color: #252525;
  padding: 10px;
  line-height: 15px;
}
section:first-of-type {
  border-right : 1px solid white;
}
footer section a,footer section a i {
  margin-bottom : 15px;
}
section {
  flex: 1;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
}

footer section a i, 
footer section a i span  {
  color : white;
  font-size : 16px !important;
}
footer section a i:hover,
footer section a i span:hover  {
  color : lightskyblue
}
